.App {
  text-align: center;
  background-color: black;
  border-radius: 15px;
  width: 200px;
  height:  200px;
  align-items: center;
  display: flex;
  justify-content: center;
  -webkit-box-shadow:  0px 0px 10px 20px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 0px 10px 20px rgba(34, 60, 80, 0.2);
box-shadow: 12px 12px 16px 0 rgba(255, 21, 91, 0.558),
            -8px -8px 12px 0 rgb(255, 15, 147);
}

